fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
stripe
exponent-server-sdk
google-auth
slowapi
sentry-sdk
alembic
email-validator
requests
